#Data Types and Structures Questions

#1. What are data structures, and why are they important?
Answer:
Data structures are specialized formats for organizing, processing, and storing data. They provide a means to manage large amounts of data efficiently for uses such as large databases and internet indexing services. Data structures are essential because they allow developers to handle data effectively for searching, insertion, deletion, and updating, directly impacting the performance and scalability of applications.

#2. Explain the difference between mutable and immutable data types with examples.
Answer:

- Mutable data types can be changed after creation. Example: list, dict, set.

a = [1, 2, 3]

a[0] = 10  # Changes list content

- Immutable data types cannot be altered after creation. Example: int, str, tuple.

s = "hello"
# s[0] = "H"  # This would cause an error

#3. What are the main differences between lists and tuples in Python?
Answer:

Lists are mutable; tuples are immutable.

Lists use square brackets [ ]; tuples use parentheses ( ).

Lists are slower; tuples are faster due to immutability.

Tuples can be used as dictionary keys; lists cannot.

#4. Describe how dictionaries store data.
Answer:
Dictionaries store data in key-value pairs. Internally, they use a hash table where the keys are hashed to a particular index in a bucket. This allows fast retrieval and updates based on keys.

#5. Why might you use a set instead of a list in Python?
Answer:
Sets are used when you want to store unique elements and don't care about the order. They offer faster membership testing and can perform operations like union, intersection, and difference efficiently.

#6. What is a string in Python, and how is it different from a list?
Answer:
A string is an immutable sequence of Unicode characters. Unlike lists, strings cannot be modified once created. Lists are mutable and can contain mixed data types.

#7. How do tuples ensure data integrity in Python?
Answer:
Since tuples are immutable, their contents cannot be changed after creation. This immutability ensures that the data remains constant and protected from accidental modification, which supports data integrity.

#8. What is a hash table, and how does it relate to dictionaries in Python?
Answer:
A hash table is a data structure that maps keys to values using a hash function. Python dictionaries are implemented using hash tables, which allow constant-time complexity for lookups and updates.

#9. Can lists contain different data types in Python?
Answer:
Yes, Python lists can contain elements of different data types, such as integers, strings, floats, or even other lists.

#10. Explain why strings are immutable in Python.
Answer:
Strings are immutable to enhance performance and security. This allows strings to be safely shared across threads and used as dictionary keys without risking unintended modification.

#11. What advantages do dictionaries offer over lists for certain tasks?
Answer:
Dictionaries offer faster lookups via keys (O(1) time complexity) compared to lists which require linear searches. They are ideal for key-value pair data, like configuration settings or lookup tables.

#12. Describe a scenario where using a tuple would be preferable over a list.
Answer:
When you need to store fixed, unchangeable records (e.g., coordinates, database row entries), tuples are preferable because they are immutable and faster.

#13. How do sets handle duplicate values in Python?
Answer:
Sets automatically remove duplicates. Any repeated elements are ignored and stored only once in the set.

#14. How does the “in” keyword work differently for lists and dictionaries?
Answer:

- For lists, in checks if an element exists in the list.

- For dictionaries, in checks if a key exists, not a value.

#15. Can you modify the elements of a tuple? Explain why or why not.
Answer:
No, tuples are immutable. Once created, you cannot change, add, or remove elements.

#16. What is a nested dictionary, and give an example of its use case.
Answer:
A nested dictionary is a dictionary inside another dictionary.
Example:

student = {"name": "John", "marks": {"math": 90, "science": 85}}


#17. Describe the time complexity of accessing elements in a dictionary.
Answer:
Accessing elements in a dictionary is O(1) on average, due to the hash table implementation.

#18. In what situations are lists preferred over dictionaries?
Answer:
Lists are preferred when order is important or when storing a sequence of elements without named keys, such as a collection of items or loop-based iterations.

#19. Why are dictionaries considered unordered, and how does that affect data retrieval?
Answer:
Historically, dictionaries were unordered before Python 3.7. While now insertion order is preserved, conceptually they are still used for key-based access, not position-based retrieval like lists.

#20. Explain the difference between a list and a dictionary in terms of data retrieval.
Answer:

- Lists retrieve data by index (position-based).

- Dictionaries retrieve data by key (key-value pair-based).

#Practical Questions

#1. Write a code to create a string with your name and print it

In [10]:
name = "John Doe"
print(name)

John Doe

#2. Write a code to find the length of the string "Hello World"

In [11]:
s = "Hello World"
print(len(s))

11

#3. Write a code to slice the first 3 characters from the string "Python Programming"

In [12]:
text = "Python Programming"
print(text[:3])

Pyt

#4. Write a code to convert the string "hello" to uppercase

In [13]:
print("hello".upper())

HELLO

#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [14]:
s = "I like apple"
print(s.replace("apple", "orange"))

I like orange

#6. Write a code to create a list with numbers 1 to 5 and print it

In [15]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

#7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [16]:
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [17]:
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [18]:
lst = ['a', 'b', 'c', 'd']
print(lst[1])

b

#10. Write a code to reverse the list [10, 20, 30, 40, 50]

In [19]:
lst = [10, 20, 30, 40, 50]
print(lst[::-1])

[50, 40, 30, 20, 10]

#11. Write a code to create a tuple with the elements 100, 200, 300 and print it

In [20]:
tup = (100, 200, 300)
print(tup)

(100, 200, 300)

#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [21]:
tup = ('red', 'green', 'blue', 'yellow')
print(tup[-2])

blue

#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [22]:
tup = (10, 20, 5, 15)
print(min(tup))

5

#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [23]:
tup = ('dog', 'cat', 'rabbit')
print(tup.index("cat"))

1

#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [24]:
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it

In [25]:
s = {'a', 'b', 'c'}
print(s)

{'a', 'b', 'c'}

#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}

In [26]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [27]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [28]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [29]:
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [30]:
d = {"name": "Alice", "age": 25, "city": "New York"}
print(d)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [31]:
d = {'name': 'John', 'age': 25}
d['country'] = 'USA'
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [32]:
d = {'name': 'Alice', 'age': 30}
print(d['name'])

Alice

#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [33]:
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del d['age']
print(d)

{'name': 'Bob', 'city': 'New York'}

#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [34]:
d = {'name': 'Alice', 'city': 'Paris'}
print("city" in d)

True

#26. Write a code to create a list, a tuple, and a dictionary, and print them all

In [35]:
lst = [1, 2, 3]
tup = (4, 5, 6)
dct = {"a": 7, "b": 8}
print(lst, tup, dct)

[1, 2, 3] (4, 5, 6) {'a': 7, 'b': 8}

#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result

In [36]:
import random
lst = random.sample(range(1, 101), 5)
lst.sort()
print(lst)

[17, 28, 50, 77, 96]

#28. Write a code to create a list with strings and print the element at the third index

In [44]:
lst = ["apple", "banana", "cherry", "date", "fig"]
print(lst[3])  # prints "date"

date

#29. Write a code to combine two dictionaries into one and print the result

In [39]:
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

#30. Write a code to convert a list of strings into a set

In [40]:
lst = ["apple", "banana", "apple"]
s = set(lst)
print(s)

{'apple', 'banana'}